/* menus */
#rightmenu
{
	width:95%;
	min-height:250px;
	background:#000000;
	font-size:25px;
	padding-bottom:20px;
	border-left:10px solid white;
	margin-top:10px;
}


#rightmenu .menu
{
	display:block;
	padding:10px;
}

#rightmenu .menu a
{
	text-decoration:none;
	color:#ffffff;
}

#rightmenu .menu a:hover
{
	color:#ffc000;
}

#rightmenu .menu a:visited
{
}



#rightmenu .ssmenu a
{
	background:#333333;
}

.titlerightmenu
{
	margin:10px;
}

.titlerightmenu:first-letter
{
	text-transform: uppercase;
}