/* menus */
#leftmenu
{
	width:95%;
	min-height:250px;
	background:#000000;
	font-size:25px;
	padding-bottom:20px;
	border-right:10px solid white;
	margin-top:10px;
}


#leftmenu .menu
{
	display:block;
	padding:10px;
}

#leftmenu .menu a
{
	text-decoration:none;
	color:#ffffff;
}

#leftmenu .menu a:hover
{
	color:#ffc000;
}

#leftmenu .menu a:visited
{
}



#leftmenu .ssmenu a
{
	background:#333333;
}

.titleleftmenu
{
	margin:10px;
}

.titleleftmenu:first-letter
{
	text-transform: uppercase;
}