/* TODO
.pager
{
	text-align:center;
	border-top:3px solid black;
	border-bottom:3px solid black;
	padding-top:4px;
	padding-bottom:4px;
}

.pager a
{
	font-style:normal;
	text-decoration:none;
	font-weight:bold;
	border:3px solid black;
	padding:4px;
	background:black;
	color:white;

}

.pager a:hover
{
	background:white;
	color:black;
}

.pager a:visited
{
	
}

.pager .pagecour a
{
	background:white;
	color:black;
}*/